/* MAIN */
#menu{
  z-index:10;
  padding: 20px 20px;
  /* position: fixed; */
  background-color: var(--section-bg);
}

#menu .wrapper{
  display: flex;
  justify-content: space-between;
  width: 100%;

}

/* MENU LINKS */
#menu .links a{
  margin-left: 15px;
}

#menu .links{
  display: inline-block;
  margin: 0;
  margin-top: 20px;
}