/* MAIN */
#menu{
  background-color: white;
}
#menu .wrapper{
  display: flex;
  justify-content: space-between;
  width: 100%;
}

/* MENU LINKS */
#menu .links a{
  margin-left: 15px;
}

#menu .links{
  margin-top: 10px;
}