/* MENU LINKS */
.navigation {
  display: inline-block;
  margin: 0;
  margin-top: 20px;
  float: right;
}

.navigation a{
  margin-left: 15px;
}

.mobile-nagvigation{
  float:right;
  margin-top: 12px;
}

.mobile-nagvigation i{
  margin-top: 10px;
  font-size: 21px;
  color: gray;
}

.canvas-navigation a{
  display: block;
}

