#hero {
  z-index:1;
  position: relative;
  background: var(--background-gradient-a);
  padding-top: 60px;
  padding-bottom:60px;
  min-height: 90vh;

  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover; 
}

#hero p{
  text-align: left;
}

#hero img{
  width: 100%;
}

#hero .btn{
  margin-right: 15px;
}


@media only screen and (max-width: 767px) {
  #hero {
    padding-top: 40px;
    padding-bottom:40px;
    min-height: 60vh;
  }
}




