
#brands{
  background-color: var(--section-bg-top);
}

#brands .wrapper{
  text-align: center;
}

#brands .session-title{
	font-family: 'Baloo 2', cursive;
  color: var(--on-section-bg-top);
}

#brands p{
  color: var(--on-section-bg-top);
  font-size: 14px;
}

#brands .icon-wrapper{
  width: auto;
  margin: 30px;
  
}

#brands .icon-wrapper h2{
  font-size: 18px;
  color: rgba(255, 255, 255, 0.748);
}


#brands i{
  /* color:var(--on-section-bg-top); */
  color: rgba(255, 255, 255, 0.748);
  margin-bottom: 10px;
  font-size: 60px;
}

#brands button{
  width: 100%;
  max-width: 400px;
}



#brands .brands-content-wrapper{
  max-width: 300px;
  margin-bottom: 60px;
}


