
#product .wrapper{
  text-align: center;

}
#product h2{
  color: var(--primary);
  font-weight: 800;
  font-size: 20px;
}

#product button{
  width: 100%;
  max-width: 400px;
}

#product .session-title{
	font-family: 'Baloo 2', cursive;
	font-size: 35px;
	letter-spacing: 0px;
  margin-bottom: 40px;
  color: var(--on-background);
}

#product .product-content-wrapper{
  max-width: 300px;
  margin-bottom: 60px;
}




