/* LOGO  */
#logo.logo{
  font-size: 25px;
  font-weight: 400;
  margin: 0;
  display: inline-block;
  float: left;
}


#logo i{
  margin-right: 15px;
  font-size: 45px;
  color: var(--primary);
}

#logo i:hover{
  color: var(--secondary);
  transition: 1000ms;
}