/* LOGO  */
#logo{
  margin: 0;
  float: left;
}

#logo i{
  margin-right: 15px;
  font-size: 40px;
  color: var(--primary);
  display: inline-block;
  vertical-align: middle;
}

#logo i:hover{
  color: var(--secondary);
  transition: 1000ms;
}

#logo .text{
	font-family: 'Baloo 2', cursive;
  font-size: 25px;
  display: inline-block;
  vertical-align: middle;
  font-weight: 600;
  background: linear-gradient(90deg, rgba(203,0,139,1) 0%, rgb(255, 0, 115) 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

@media only screen and (max-width: 350px) {
  #logo .text{
    display: none;
  }
}

