#contact-form {
  background-color: var(--background);
  color: var(--on-background);
  min-height: 60vh;
}

#contact-form h2, #contact-form p{
  text-align: center;
}

#contact-form form{
  text-align: center;
  background-color: white;
  border-radius: 20px;
  box-shadow: var(--box-shadow);
  padding: 20px;
}

#contact-form .form-container{
  padding: 60px;
}

#contact-form textarea.form-control{
  height: 40px;
}

#contact-form .contact-form-wrapper{
  padding: 40px;
}

#contact-form .form-title{
  color: black;
}

#contact-form img{
  width: 100%;
}




