#footer{
    background-color: var(--section-bg);
    min-height: 150px;
}

#footer .wrapper {
    text-align: center;
    font-size: 10px;
    font-style: italic;
}

#footer p{
    padding: 0;
    margin: 0;
}