@import url('https://fonts.googleapis.com/css2?family=Baloo+2:wght@600;700&family=Comfortaa:wght@300;400;500;600;700&family=Pacifico&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Shrikhand&display=swap');

body{
    min-height: 100vh;
    
    margin:0;
	padding: 0px;
	min-height: 100vh;
    background-color:aliceblue;
    
    text-align: center;
	font-family: 'Poppins', sans-serif;
	font-size: 15px;
	font-weight: 200;
}

h1{
	font-family: 'Baloo 2', cursive;
	font-size: 45px;
	letter-spacing: 0px;
    margin-bottom: 40px;
}

h2{
    font-family: 'Poppins', sans-serif;
	font-size: 22px;
    text-transform: capitalize;
	font-weight: 400;
    margin-bottom: 20px;

}

p{
    text-align: left;
}

section{
    width: 100%;
    padding: 30px 20px;
    background-color: none;

}

.wrapper{
    width: 100%;
    max-width: 1000px;
    margin: auto;
}