body{
    margin: auto;
    max-width: 1000px;
    background-color: aliceblue;
    text-align: center;
    font-size: 18px;
    font-family: sans-serif;
    padding: 40px;
}

h1{
    font-size: 44px;
}