@import url('https://fonts.googleapis.com/css2?family=Baloo+2:wght@600;700&family=Comfortaa:wght@300;400;500;600;700&family=Pacifico&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Shrikhand&display=swap');

:root {
  --primary: #dd0072;
  --secondary: #006aeb;
 
  --secondary-button: #ffffff;
  
  --background:rgb(255, 255, 255);
  --background-img: url(./img/code_bg_piqus_web.jpg);
  --section-bg:rgb(255, 255, 255);
  --section-bg-alt:#2f97ff;
  --section-bg-top:#dd0072;
  
  --box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.192);
  
  --on-primary: rgb(250, 250, 250);
  --on-secundary: rgb(250, 250, 250);
  --on-background: rgb(0, 0, 0);
  --on-section-bg: rgb(13, 13, 13);
  --on-section-bg-alt:rgb(255, 255, 255);
  --on-section-bg-top: rgb(255, 255, 255);
}

[data-theme="dark"] {
  --primary:#dd0072;
  --secondary: #2989fe;
  
  --secondary-button: #ffffff;
  
  --background: #373737;
  --background-img: url(./img/code_bg_piqus_dark.jpg);
  --section-bg:rgb(0, 0, 0);
  --section-bg-alt:#244a71;
  --section-bg-top:#ad0059;
  
  --box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.414);
  
  --on-primary: #ffffff;
  --on-background: rgba(248, 248, 248, 0.9);
  --on-section-bg: rgba(248, 248, 248, 0.9);
  --on-section-bt-alt: rgba(255, 255, 255, 0.7);
  --on-section-bt-top: rgba(255, 255, 255, 0.7);
}

html{
  scroll-behavior: smooth;
  /* box-sizing:border-box; */
}

body{
	font-family: 'Poppins', sans-serif;
	font-size: 15px;
	font-weight: 200;
  background-color:var(--background);
  color: var(--on-background);
}

h1{
	font-family: 'Baloo 2', cursive;
	font-size: 45px;
	letter-spacing: 0px;
  margin-bottom: 40px;
}

h2{
  font-family: 'Baloo 2', cursive;
	font-size: 25px;
  text-transform: capitalize;
	font-weight: 400;
  margin-bottom: 20px;
}

a{
  color: var(--secondary);
  font-weight: 400;
  text-decoration: none;
}

a:hover{
  color: var(--primary);
  text-decoration: underline;
  transition: 1000ms;
}

section{
  width: 100%;
  background-color: none;
  padding: 80px 20px;

  display: flex;
  justify-content: center;
  align-items: center;
}

.wrapper{
    width: 100%;
    max-width: 1000px;
}

.wrapper > *{
  /* padding: 20px; */
  /* margin-top: 10px; */
  margin-bottom: 20px;
}

.vertical-align{
  display: flex;
  justify-content: center;
  align-items: center;
}

/* /////////////////////////// */
/* BOOTSTRAP FINE TUNING */
/* /////////////////////////// */

.btn{
  margin: 10px;
}

.btn-primary{
  background-color: var(--primary);
  border-color: var(--primary);
  color: var(--on-primary)
}

.btn-secondary-alt{
  background-color: var(--secondary-button);
  border-color: var(--secondary);
  color: var(--secondary)
}

.btn-secondary-alt:hover{
  background-color: var(--primary);
  border-color: var(--primary);
  color: var(--on-primary)
}

.btn-secondary{
  background-color: var(--secondary);
  border-color: var(--secondary);
  color: var(--on-primary)
}

.btn-secondary:hover{
  background-color: var(--primary);
  border-color: var(--primary);
}